.form-container{
   font-family: arial;
   display: flex;
   flex-direction: column;
   gap: 10px;
   margin-right: 10px;

}

.input-container{
    margin-bottom: 10px;
    
}

.input-container label{
    margin-right: 15px;
}


