.titulo-container{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(219,179,157);
    background-color: #111;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    
}